.landing__container {
    width: 100%;
    padding: 100px 80px;
    height: calc(100% + 80px);
    top: -80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieflix__title {
    margin-top: 180px;
    font-size: 100px;
    height: min-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 3px 3px 3px black;
}

.movieflix__description {
    font-size: 26px;
    max-width: 600px;
    margin-top: 40px;
    color: red;
  }

  .movieflix__input {
    background-color: black;
    height: 50px;
    width: 100%;
    margin-right: 20px;
    outline: none;
    border: 2px solid #f8f8f8;
    padding: 10px 20px;
    font-size: 20px;
    color: #f8f8f8;
  }

  .movieflix__input::placeholder{
    color: #f8f8f8;
  }

  .movieflix__search {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    max-width: 580px;
    width: 100%;
    padding: 10px;
  }

  .search {
    margin-right: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all ease;
    
    }

  .submit__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }

  /* MOVIES */

  .movies__container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    
}

.movie__container {
    display: flex;
}

.movie {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px 0;
    margin: 16px;

}

.movie__poster {
    height: 100%;
    z-index: 999;
    overflow: hidden;
}

.movie__info--container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.movie__title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    width: 100%;
    height: min-content;
    color: white;
}

.movie__year {
    font-weight: 400;
    font-size: 24px;
    height: 100%;
    width: 100%;
    color: white;
}

  .movie__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.movie__overlay--loading {
    font-size: 80px;
}

/* GENERAL */

.searchIcon {
  color: white;
}